.header_container {
	display: flex;
	padding-left:100px;
	padding-top:40px;
}

.title_heading {
	font-size: 50px;
	width: 450px;
	text-align: left;
}

.title_intro {
	width: 500px;
}

#waterfall_chart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#treemap {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#population_pyramid {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}
