.title_heading {
	text-align: center;
}

#waterfall_chart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#treemap {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#population_pyramid {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}
