body {
	font-family: Trebuchet MS;
	background-color: #fdfdfd;
	color: #545454;
}

.header_container {
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
}

.title_heading {
	font-size: 80px;
	height: 230px;
	width: 500px;
	text-align: left;
	margin-top: 0px;
}

.title_intro {
	height: 230px;
	width: 400px;
	text-align: left;
	padding-top: 25px;
	margin-top: 0px;
}

.title_metadata {
	height: 230px;
	width: 400px;
	text-align: right;
	padding-top: 25px;
	margin-top: 0px;
}

#header_hr {
	display: flex;
	color: #0056a6;
	height: 2px;
	padding-left: 100px;
	padding-right: 100px;
}

#waterfall_chart_container{
	display: flex;
	padding-left: 100px;
	padding-right: 100px;
}

#summary_waterfall_chart {
	width: 300px;
	padding-top: 90px;
}

#waterfall_chart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#choropleth_map_container{
	display: flex;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 250px;
}

#summary_choropleth_map {
	padding-left: 100px;
	padding-right: 100px;
}

#choropleth_map {
	padding-left: 100px;
}

#treemap {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#population_pyramid {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}
